*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    
    margin-bottom: - 4rem;
    font-size: 2rem;
}
.body-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
    text-align: center;
    justify-content: space-evenly;
   
}
.location, 
.temperature-section{
    height: 35vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.temperature-section{
    flex-direction: column;
    margin: 0.938rem;
    height: 10vh;
}
.date-time-native,.date-time-paris,.date-time-la, .date-time-sydney{
    font-weight: bold;
    color:indianred;
}
.location-timezone-native,.location-timezone-la,.location-timezone-paris,.location-timezone-sydney{
    font-size: 2.5rem;
    color: lightblue;
}
.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span,.degree-section-la span,.degree-section-sydney span,.degree-section-paris span{
    font-size: 3.75rem;
    margin: 0.625rem;
    color: #00A170
}
.degree-section h2 {
    font-size: 5rem
}
.temperature-degree-native,.temperature-degree-la ,.temperature-degree-sydney,.temperature-degree-paris{
    color: #00A170;
}
.temperature-degree-feren-native{
 color: #A0DAA9;
}
.temperature-description-native,.temperature-description-la,.temperature-description-paris,.temperature-description-sydney{
    color: #926AA6
}

/* animations */

.card:hover{
    transform: scale(1.3);
}
/* media queries */
@media only screen 
  and (min-device-width: 365px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .degree-section span{
        font-size: 1.55rem;
        margin: 0.625rem;
        color: #00A170
    }
    .temperature-degree-native.temperature-degree-la ,.temperature-degree-sydney,.temperature-degree-paris{
        color: #00A170;
        font-size: 1.55rem;
    }
    .temperature-degree-feren-native,.temperature-degree-la ,.temperature-degree-sydney,.temperature-degree-paris{
        color: #A0DAA9;             
        font-size: 1.75rem;
    }
    .location-timezone-native.temperature-degree-la ,.temperature-degree-sydney,.temperature-degree-paris{
        font-size: 2.5rem;
        color: lightblue;
    }

    
    .body-container {
        margin-top: 50rem;
        height: 100vh;  
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
        font-family: sans-serif;
        color: white;
        text-align: center;
        justify-content: space-around;
       
    }
    .card{
        margin-top: 1rem;
    }
    
}

@media only screen 
  and (min-device-width: 1440px) 
  and (max-device-width: 1600px) 
  { 

    .degree-section h2 {
        font-size: 4.5rem;
        color: #00A170
    }

    .degree-section span,.degree-section-la span,.degree-section-sydney span,.degree-section-paris span{
        font-size: 1.75rem;
        margin: 0.625rem;
        color: #00A170
    }
    .card:hover{
        transform: scale(1.1);
    }
}
